html,
body {
	margin: 0;
	padding: 0;
    touch-action: manipulation;
}

body {
	background-color: #ccc;
	overflow: hidden;
	position: fixed;
	width: 320px;
}

#draw-canvas {
	background-color: #fff;
	box-shadow: 0px 10px 10px #999;
	height: 280px;
	width: 280px;
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#clear-button {
	height: 50px;
	width: 200px;
	line-height: 50px;
	margin: 0 auto;
	border: 1px solid #777;
	text-align: center;
	color: #777;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 25px;
	border-radius: 10px;
	font-weight: 200;
}

#display-number {
	width:280px;
	height:100px;
	border:1px solid #000;
	margin-top: 10px;
	margin-left: 20px;
	text-align: center;
}

#number {
	font-size: 25px;
	text-align: center;
}

#passcode {
	margin-left: 20px;
	margin-top: 10px;
}

.digit-one {
	width: 68px;
	height: 68px;
	border:1px solid #000;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
	font-size: 25px;
	float: left;
}

.digit-two {
	width: 68px;
	height: 68px;
	border:1px solid #000;
	margin-top: 20px;
	margin-left: 1px;
	text-align: center;
	font-size: 25px;
	float: left;
}

.digit-three {
	width: 68px;
	height: 68px;
	border:1px solid #000;
	margin-top: 20px;
	margin-left: 1px;
	text-align: center;
	font-size: 25px;
	float: left;
}

.digit-four {
	width: 68px;
	height: 68px;
	border:1px solid #000;
	margin-top: 20px;
	margin-left: 1px;
	text-align: center;
	font-size: 25px;
	float: left;
}
