<html>
	<head>
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<script defer src="{{ url_for('static', filename='scripts.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
		<meta name="viewport" content="width=320">
	</head>

	<body>
		<canvas id="draw-canvas" width="560" height="560"></canvas>
		<script>

			var canvas = document.getElementById('draw-canvas');
			var dataURL = canvas.toDataURL();
			//use console on the webpage to check the link
			console.log(dataURL);
			//send this to Tina via Gabriel's communication
		</script>





		<div id="clear-button">Clear</div>
	</body>
</html>
