<html>
	<head>
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js" integrity="sha256-pMea2a/7QK1RhYpSh7rIpKSajxu4j61VmpJCJ31KrfA=" crossorigin="anonymous"></script>
		<script defer src="{{ url_for('static', filename='scripts.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
		<meta name="viewport" content="width=320">
	</head>

	<body>
		<canvas id="draw-canvas" width="560" height="560"></canvas>


		<div id="clear-button">Clear</div>
		<div id="display-number">This is your number :<p> <span id= "number"> <script>number</script></span></p></div>

		<div id="passcode">Passcode : </div>
		<div class="display-number">
		<div class="digit-one">
		</div>
		<div class="digit-two">
		</div>
		<div class="digit-three">
		</div>
		<div class="digit-four">
		</div>
		<div class="clear">
		</div>

	</body>
</html>
